.booking-table
   span.search-filter-block
      span.input-group.input-group-white.date-group
         span.input-group-addon
            i.fa.fa-calendar
         span.form-control.datepicker-input
            span.date May, 6th
            span.day Saturday
         span.form-control.datepicker-output
            span.date Jun, 14th
            span.day Wednesday
      span.input-group.input-group-white.people-count
         span.input-group-addon
            i.fa.fa-sliders(aria-hidden='true')
         a#peopleCount.dropdown-toggle(href='javascript:void(0)', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            span.block
               span.value#rooms 1
               span.text  Room
                  span.text-one ,
                  span.text-two.hidden s,
            span.block
               span.value#adults 1
               span.text  Adult
                  span.text-one ,
                  span.text-two.hidden s,
            span.block
               span.value#children 0
               span.text  Children
         span.dropdown-menu.book-menu(aria-labelledby='peopleCount')
            span.book-header.clearfix
               select#roomsCount(name='Rooms Count')
                  option(value='1') 1 Room
                  option(value='2') 2 Rooms
                  option(value='3') 3 Rooms
                  option(value='4') 4 Rooms
               span.datepicker-book-rooms
                  span.form-control.datepicker-input
                     span.date May, 6th
                     span.day Saturday
                  span.form-control.datepicker-output
                     span.date Jun, 14th
                     span.day Wednesday
            span.room.clearfix
               span.title Room
                  span.number  1
               span.adults
                  label.col-form-label(for='quant[1-1]') Adults
                  span.input-group
                     span.input-group-btn
                        button.btn.btn-info.btn-number(type='button', data-type='minus', data-field='quant[1-1]', disabled)
                           | -
                     input.form-control.input-number(type='number', id='quant[1-1]', name='quant[1-1]', value='1', min='1', max='4', data-id='adults')
                     span.input-group-btn
                        button.btn.btn-warning.btn-number(type='button', data-type='plus', data-field='quant[1-1]')
                           | +
               span.children
                  label.col-form-label(for='quant[1-2]') Children
                  span.input-group
                     span.input-group-btn
                        button.btn.btn-info.btn-number(type='button', disabled='disabled', data-type='minus', data-field='quant[1-2]')
                           | -
                     input.form-control.input-number(type='number', id='quant[1-2]', name='quant[1-2]', value='0', min='0', max='4', data-id='children')
                     span.input-group-btn
                        button.btn.btn-warning.btn-number(type='button', data-type='plus', data-field='quant[1-2]')
                           | +
               span.children-age.hidden
                  label.col-form-label Children's Ages
                  span.child.child-1
                     select#childAge1-1(name='Child Age')
                        - for ( var i = -1; i < 18; i++ ) {
                        - if ( i === -1 ) {
                        option(value="null", selected) -
                        - } else {
                        option(value=i)=i
                        - }
                        - }
                  span.child.child-2.hidden
                     select#childAge1-2(name='Child Age')
                        - for ( var i = -1; i < 18; i++ ) {
                        - if ( i === -1 ) {
                        option(value="null", selected) -
                        - } else {
                        option(value=i)=i
                        - }
                        - }
                  span.child.child-3.hidden
                     select#childAge1-3(name='Child Age')
                        - for ( var i = -1; i < 18; i++ ) {
                        - if ( i === -1 ) {
                        option(value="null", selected) -
                        - } else {
                        option(value=i)=i
                        - }
                        - }
                  span.child.child-4.hidden
                     select#childAge1-4(name='Child Age')
                        - for ( var i = -1; i < 18; i++ ) {
                        - if ( i === -1 ) {
                        option(value="null", selected) -
                        - } else {
                        option(value=i)=i
                        - }
                        - }
            span.room.clearfix.hidden
               span.title Room
                  span.number  2
               span.adults
                  label.col-form-label(for='quant[2-1]') Adults
                  span.input-group
                     span.input-group-btn
                        button.btn.btn-info.btn-number(type='button', data-type='minus', data-field='quant[2-1]', disabled)
                           | -
                     input.form-control.input-number(type='number', id='quant[2-1]', name='quant[2-1]', value='1', min='1', max='4', data-id='adults')
                     span.input-group-btn
                        button.btn.btn-warning.btn-number(type='button', data-type='plus', data-field='quant[2-1]')
                           | +
               span.children
                  label.col-form-label(for='quant[2-2]') Children
                  span.input-group
                     span.input-group-btn
                        button.btn.btn-info.btn-number(type='button', disabled='disabled', data-type='minus', data-field='quant[2-2]')
                           | -
                     input.form-control.input-number(type='number', id='quant[2-2]', name='quant[2-2]', value='0', min='0', max='4', data-id='children')
                     span.input-group-btn
                        button.btn.btn-warning.btn-number(type='button', data-type='plus', data-field='quant[2-2]')
                           | +
               span.children-age.hidden
                  label.col-form-label Children's Ages
                  span.child.child-1
                     select#childAge2-1(name='Child Age')
                        - for ( var i = -1; i < 18; i++ ) {
                        - if ( i === -1 ) {
                        option(value="null", selected) -
                        - } else {
                        option(value=i)=i
                        - }
                        - }
                  span.child.child-2.hidden
                     select#childAge2-2(name='Child Age')
                        - for ( var i = -1; i < 18; i++ ) {
                        - if ( i === -1 ) {
                        option(value="null", selected) -
                        - } else {
                        option(value=i)=i
                        - }
                        - }
                  span.child.child-3.hidden
                     select#childAge2-3(name='Child Age')
                        - for ( var i = -1; i < 18; i++ ) {
                        - if ( i === -1 ) {
                        option(value="null", selected) -
                        - } else {
                        option(value=i)=i
                        - }
                        - }
                  span.child.child-4.hidden
                     select#childAge2-4(name='Child Age')
                        - for ( var i = -1; i < 18; i++ ) {
                        - if ( i === -1 ) {
                        option(value="null", selected) -
                        - } else {
                        option(value=i)=i
                        - }
                        - }
            span.room.clearfix.hidden
               span.title Room
                  span.number  3
               span.adults
                  label.col-form-label(for='quant[3-1]') Adults
                  span.input-group
                     span.input-group-btn
                        button.btn.btn-info.btn-number(type='button', data-type='minus', data-field='quant[3-1]', disabled)
                           | -
                     input.form-control.input-number(type='number', id='quant[3-1]', name='quant[3-1]', value='1', min='1', max='4', data-id='adults')
                     span.input-group-btn
                        button.btn.btn-warning.btn-number(type='button', data-type='plus', data-field='quant[3-1]')
                           | +
               span.children
                  label.col-form-label(for='quant[3-2]') Children
                  span.input-group
                     span.input-group-btn
                        button.btn.btn-info.btn-number(type='button', disabled='disabled', data-type='minus', data-field='quant[3-3]')
                           | -
                     input.form-control.input-number(type='number', id='quant[3-2]', name='quant[3-3]', value='0', min='0', max='4', data-id='children')
                     span.input-group-btn
                        button.btn.btn-warning.btn-number(type='button', data-type='plus', data-field='quant[3-3]')
                           | +
               span.children-age.hidden
                  label.col-form-label Children's Ages
                  span.child.child-1
                     select#childAge3-1(name='Child Age')
                        - for ( var i = -1; i < 18; i++ ) {
                        - if ( i === -1 ) {
                        option(value="null", selected) -
                        - } else {
                        option(value=i)=i
                        - }
                        - }
                  span.child.child-2.hidden
                     select#childAge3-2(name='Child Age')
                        - for ( var i = -1; i < 18; i++ ) {
                        - if ( i === -1 ) {
                        option(value="null", selected) -
                        - } else {
                        option(value=i)=i
                        - }
                        - }
                  span.child.child-3.hidden
                     select#childAge3-3(name='Child Age')
                        - for ( var i = -1; i < 18; i++ ) {
                        - if ( i === -1 ) {
                        option(value="null", selected) -
                        - } else {
                        option(value=i)=i
                        - }
                        - }
                  span.child.child-4.hidden
                     select#childAge3-4(name='Child Age')
                        - for ( var i = -1; i < 18; i++ ) {
                        - if ( i === -1 ) {
                        option(value="null", selected) -
                        - } else {
                        option(value=i)=i
                        - }
                        - }
            span.room.clearfix.hidden
               span.title Room
                  span.number  4
               span.adults
                  label.col-form-label(for='quant[4-1]') Adults
                  span.input-group
                     span.input-group-btn
                        button.btn.btn-info.btn-number(type='button', data-type='minus', data-field='quant[4-1]', disabled)
                           | -
                     input.form-control.input-number(type='number', id='quant[4-1]', name='quant[4-1]', value='1', min='1', max='4', data-id='adults')
                     span.input-group-btn
                        button.btn.btn-warning.btn-number(type='button', data-type='plus', data-field='quant[4-1]')
                           | +
               span.children
                  label.col-form-label(for='quant[4-2]') Children
                  span.input-group
                     span.input-group-btn
                        button.btn.btn-info.btn-number(type='button', disabled='disabled', data-type='minus', data-field='quant[4-2]')
                           | -
                     input.form-control.input-number(type='number', id='quant[4-2]', name='quant[4-2]', value='0', min='0', max='4', data-id='children')
                     span.input-group-btn
                        button.btn.btn-warning.btn-number(type='button', data-type='plus', data-field='quant[4-2]')
                           | +
               span.children-age.hidden
                  label.col-form-label Children's Ages
                  span.child.child-1
                     select#childAge4-1(name='Child Age')
                        - for ( var i = -1; i < 18; i++ ) {
                        - if ( i === -1 ) {
                        option(value="null", selected) -
                        - } else {
                        option(value=i)=i
                        - }
                        - }
                  span.child.child-2.hidden
                     select#childAge4-2(name='Child Age')
                        - for ( var i = -1; i < 18; i++ ) {
                        - if ( i === -1 ) {
                        option(value="null", selected) -
                        - } else {
                        option(value=i)=i
                        - }
                        - }
                  span.child.child-3.hidden
                     select#childAge4-3(name='Child Age')
                        - for ( var i = -1; i < 18; i++ ) {
                        - if ( i === -1 ) {
                        option(value="null", selected) -
                        - } else {
                        option(value=i)=i
                        - }
                        - }
                  span.child.child-4.hidden
                     select#childAge4-4(name='Child Age')
                        - for ( var i = -1; i < 18; i++ ) {
                        - if ( i === -1 ) {
                        option(value="null", selected) -
                        - } else {
                        option(value=i)=i
                        - }
                        - }
            span.book-footer.clearfix
               //a#add-book-room(href='javascript:void(0)') Add Room
               a#done-book-menu(href='javascript:void(0)') Done
               input#roomsVal(type='hidden' value='1')
               input#adultsVal(type='hidden' value='1')
               input#childrenVal(type='hidden' value='0')
      span.input-group.update.hidden-xs
         a#people-count-open(href='javascript:void(0)') Update
   .loading-search-cover.showing
      .loading-search