-
   var countriesList = [{
   code: "+7 840",
   name: "Abkhazia"
   }, {
   code: "+93",
   name: "Afghanistan"
   }, {
   code: "+355",
   name: "Albania"
   }, {
   code: "+213",
   name: "Algeria"
   }, {
   code: "+376",
   name: "Andorra"
   }, {
   code: "+244",
   name: "Angola"
   }, {
   code: "+1 268",
   name: "Antigua and Barbuda"
   }, {
   code: "+54",
   name: "Argentina"
   }, {
   code: "+374",
   name: "Armenia"
   }, {
   code: "+61",
   name: "Australia"
   }, {
   code: "+43",
   name: "Austria"
   }, {
   code: "+994",
   name: "Azerbaijan"
   }, {
   code: "+1 242",
   name: "Bahamas"
   }, {
   code: "+973",
   name: "Bahrain"
   }, {
   code: "+880",
   name: "Bangladesh"
   }, {
   code: "+1 246",
   name: "Barbados"
   }, {
   code: "+375",
   name: "Belarus"
   }, {
   code: "+32",
   name: "Belgium"
   }, {
   code: "+501",
   name: "Belize"
   }, {
   code: "+229",
   name: "Benin"
   }, {
   code: "+975",
   name: "Bhutan"
   }, {
   code: "+591",
   name: "Bolivia"
   }, {
   code: "+387",
   name: "Bosnia and Herzegovina"
   }, {
   code: "+267",
   name: "Botswana"
   }, {
   code: "+55",
   name: "Brazil"
   }, {
   code: "+673",
   name: "Brunei"
   }, {
   code: "+359",
   name: "Bulgaria"
   }, {
   code: "+226",
   name: "Burkina Faso"
   }, {
   code: "+257",
   name: "Burundi"
   }, {
   code: "+855",
   name: "Cambodia"
   }, {
   code: "+237",
   name: "Cameroon"
   }, {
   code: "+1",
   name: "Canada"
   }, {
   code: "+238",
   name: "Cape Verde"
   }, {
   code: "+236",
   name: "Central African Republic"
   }, {
   code: "+235",
   name: "Chad"
   }, {
   code: "+56",
   name: "Chile"
   }, {
   code: "+86",
   name: "China"
   }, {
   code: "+57",
   name: "Colombia"
   }, {
   code: "+269",
   name: "Comoros"
   }, {
   code: "+682",
   name: "Cook Islands"
   }, {
   code: "+506",
   name: "Costa Rica"
   }, {
   code: "+385",
   name: "Croatia"
   }, {
   code: "+53",
   name: "Cuba"
   }, {
   code: "+537",
   name: "Cyprus"
   }, {
   code: "+420",
   name: "Czech Republic"
   }, {
   code: "+45",
   name: "Denmark"
   }, {
   code: "+253",
   name: "Djibouti"
   }, {
   code: "+1 767",
   name: "Dominica"
   }, {
   code: "+1 809",
   name: "Dominican Republic"
   }, {
   code: "+670",
   name: "East Timor"
   }, {
   code: "+593",
   name: "Ecuador"
   }, {
   code: "+20",
   name: "Egypt"
   }, {
   code: "+503",
   name: "El Salvador"
   }, {
   code: "+240",
   name: "Equatorial Guinea"
   }, {
   code: "+291",
   name: "Eritrea"
   }, {
   code: "+372",
   name: "Estonia"
   }, {
   code: "+251",
   name: "Ethiopia"
   }, {
   code: "+679",
   name: "Fiji"
   }, {
   code: "+358",
   name: "Finland"
   }, {
   code: "+33",
   name: "France"
   }, {
   code: "+241",
   name: "Gabon"
   }, {
   code: "+220",
   name: "Gambia"
   }, {
   code: "+995",
   name: "Georgia"
   }, {
   code: "+49",
   name: "Germany"
   }, {
   code: "+233",
   name: "Ghana"
   }, {
   code: "+30",
   name: "Greece"
   }, {
   code: "+1 473",
   name: "Grenada"
   }, {
   code: "+502",
   name: "Guatemala"
   }, {
   code: "+224",
   name: "Guinea"
   }, {
   code: "+245",
   name: "Guinea-Bissau"
   }, {
   code: "+595",
   name: "Guyana"
   }, {
   code: "+509",
   name: "Haiti"
   }, {
   code: "+504",
   name: "Honduras"
   }, {
   code: "+36",
   name: "Hungary"
   }, {
   code: "+354",
   name: "Iceland"
   }, {
   code: "+91",
   name: "India"
   }, {
   code: "+62",
   name: "Indonesia"
   }, {
   code: "+98",
   name: "Iran"
   }, {
   code: "+964",
   name: "Iraq"
   }, {
   code: "+353",
   name: "Ireland"
   }, {
   code: "+972",
   name: "Israel"
   }, {
   code: "+39",
   name: "Italy"
   }, {
   code: "+225",
   name: "Ivory Coast"
   }, {
   code: "+1 876",
   name: "Jamaica"
   }, {
   code: "+81",
   name: "Japan"
   }, {
   code: "+962",
   name: "Jordan"
   }, {
   code: "+7 7",
   name: "Kazakhstan"
   }, {
   code: "+254",
   name: "Kenya"
   }, {
   code: "+686",
   name: "Kiribati"
   }, {
   code: "+965",
   name: "Kuwait"
   }, {
   code: "+996",
   name: "Kyrgyzstan"
   }, {
   code: "+856",
   name: "Laos"
   }, {
   code: "+371",
   name: "Latvia"
   }, {
   code: "+961",
   name: "Lebanon"
   }, {
   code: "+266",
   name: "Lesotho"
   }, {
   code: "+231",
   name: "Liberia"
   }, {
   code: "+218",
   name: "Libya"
   }, {
   code: "+423",
   name: "Liechtenstein"
   }, {
   code: "+370",
   name: "Lithuania"
   }, {
   code: "+352",
   name: "Luxembourg"
   }, {
   code: "+389",
   name: "Macedonia"
   }, {
   code: "+261",
   name: "Madagascar"
   }, {
   code: "+265",
   name: "Malawi"
   }, {
   code: "+60",
   name: "Malaysia"
   }, {
   code: "+960",
   name: "Maldives"
   }, {
   code: "+223",
   name: "Mali"
   }, {
   code: "+356",
   name: "Malta"
   }, {
   code: "+692",
   name: "Marshall Islands"
   }, {
   code: "+222",
   name: "Mauritania"
   }, {
   code: "+230",
   name: "Mauritius"
   }, {
   code: "+52",
   name: "Mexico"
   }, {
   code: "+373",
   name: "Moldova"
   }, {
   code: "+377",
   name: "Monaco"
   }, {
   code: "+976",
   name: "Mongolia"
   }, {
   code: "+382",
   name: "Montenegro"
   }, {
   code: "+212",
   name: "Morocco"
   }, {
   code: "+95",
   name: "Myanmar"
   }, {
   code: "+264",
   name: "Namibia"
   }, {
   code: "+674",
   name: "Nauru"
   }, {
   code: "+977",
   name: "Nepal"
   }, {
   code: "+31",
   name: "Netherlands"
   }, {
   code: "+64",
   name: "New Zealand"
   }, {
   code: "+505",
   name: "Nicaragua"
   }, {
   code: "+227",
   name: "Niger"
   }, {
   code: "+234",
   name: "Nigeria"
   }, {
   code: "+683",
   name: "Niue"
   }, {
   code: "+850",
   name: "North Korea"
   }, {
   code: "+47",
   name: "Norway"
   }, {
   code: "+968",
   name: "Oman"
   }, {
   code: "+92",
   name: "Pakistan"
   }, {
   code: "+680",
   name: "Palau"
   }, {
   code: "+970",
   name: "Palestine"
   }, {
   code: "+507",
   name: "Panama"
   }, {
   code: "+675",
   name: "Papua New Guinea"
   }, {
   code: "+595",
   name: "Paraguay"
   }, {
   code: "+51",
   name: "Peru"
   }, {
   code: "+63",
   name: "Philippines"
   }, {
   code: "+48",
   name: "Poland"
   }, {
   code: "+351",
   name: "Portugal"
   }, {
   code: "+974",
   name: "Qatar"
   }, {
   code: "+40",
   name: "Romania"
   }, {
   code: "+7",
   name: "Russia"
   }, {
   code: "+250",
   name: "Rwanda"
   }, {
   code: "+685",
   name: "Samoa"
   }, {
   code: "+378",
   name: "San Marino"
   }, {
   code: "+966",
   name: "Saudi Arabia"
   }, {
   code: "+221",
   name: "Senegal"
   }, {
   code: "+381",
   name: "Serbia"
   }, {
   code: "+248",
   name: "Seychelles"
   }, {
   code: "+232",
   name: "Sierra Leone"
   }, {
   code: "+65",
   name: "Singapore"
   }, {
   code: "+421",
   name: "Slovakia"
   }, {
   code: "+386",
   name: "Slovenia"
   }, {
   code: "+677",
   name: "Solomon Islands"
   }, {
   code: "+27",
   name: "South Africa"
   }, {
   code: "+82",
   name: "South Korea"
   }, {
   code: "+34",
   name: "Spain"
   }, {
   code: "+94",
   name: "Sri Lanka"
   }, {
   code: "+249",
   name: "Sudan"
   }, {
   code: "+597",
   name: "Suriname"
   }, {
   code: "+268",
   name: "Swaziland"
   }, {
   code: "+46",
   name: "Sweden"
   }, {
   code: "+41",
   name: "Switzerland"
   }, {
   code: "+963",
   name: "Syria"
   }, {
   code: "+992",
   name: "Tajikistan"
   }, {
   code: "+255",
   name: "Tanzania"
   }, {
   code: "+66",
   name: "Thailand"
   }, {
   code: "+228",
   name: "Togo"
   }, {
   code: "+676",
   name: "Tonga"
   }, {
   code: "+1 868",
   name: "Trinidad and Tobago"
   }, {
   code: "+216",
   name: "Tunisia"
   }, {
   code: "+90",
   name: "Turkey"
   }, {
   code: "+993",
   name: "Turkmenistan"
   }, {
   code: "+688",
   name: "Tuvalu"
   }, {
   code: "+256",
   name: "Uganda"
   }, {
   code: "+380",
   name: "Ukraine"
   }, {
   code: "+971",
   name: "United Arab Emirates"
   }, {
   code: "+44",
   name: "United Kingdom"
   }, {
   code: "+1",
   name: "United States"
   }, {
   code: "+598",
   name: "Uruguay"
   }, {
   code: "+998",
   name: "Uzbekistan"
   }, {
   code: "+678",
   name: "Vanuatu"
   }, {
   code: "+58",
   name: "Venezuela"
   }, {
   code: "+84",
   name: "Vietnam"
   }, {
   code: "+967",
   name: "Yemen"
   }, {
   code: "+260",
   name: "Zambia"
   }, {
   code: "+263",
   name: "Zimbabwe"
   }]
   var statesList = [{
   "name": "Alabama",
   "abbreviation": "AL"
   }, {
   "name": "Alaska",
   "abbreviation": "AK"
   }, {
   "name": "American Samoa",
   "abbreviation": "AS" },
   {
   "name": "Arizona",
   "abbreviation": "AZ"
   }, {
   "name": "Arkansas",
   "abbreviation": "AR"
   }, {
   "name": "California",
   "abbreviation": "CA"
   }, {
   "name": "Colorado",
   "abbreviation": "CO"
   }, {
   "name": "Connecticut",
   "abbreviation": "CT"
   }, {
   "name": "Delaware",
   "abbreviation": "DE"
   }, {
   "name": "District Of Columbia",
   "abbreviation": "DC"
   }, {
   "name": "Federated States Of Micronesia",
   "abbreviation": "FM"
   }, {
   "name": "Florida",
   "abbreviation": "FL"
   }, {
   "name": "Georgia",
   "abbreviation": "GA"
   }, {
   "name": "Guam",
   "abbreviation": "GU"
   }, {
   "name": "Hawaii",
   "abbreviation": "HI"
   }, {
   "name": "Idaho",
   "abbreviation": "ID"
   }, {
   "name": "Illinois",
   "abbreviation": "IL"
   }, {
   "name": "Indiana",
   "abbreviation": "IN"
   }, {
   "name": "Iowa",
   "abbreviation": "IA"
   }, {
   "name": "Kansas",
   "abbreviation": "KS"
   }, {
   "name": "Kentucky",
   "abbreviation": "KY"
   }, {
   "name": "Louisiana",
   "abbreviation": "LA"
   }, {
   "name": "Maine",
   "abbreviation": "ME"
   }, {
   "name": "Marshall Islands",
   "abbreviation": "MH"
   }, {
   "name": "Maryland",
   "abbreviation": "MD"
   }, {
   "name": "Massachusetts",
   "abbreviation": "MA"
   }, {
   "name": "Michigan",
   "abbreviation": "MI"
   }, {
   "name": "Minnesota",
   "abbreviation": "MN"
   }, {
   "name": "Mississippi",
   "abbreviation": "MS"
   }, {
   "name": "Missouri",
   "abbreviation": "MO"
   }, {
   "name": "Montana",
   "abbreviation": "MT"
   }, {
   "name": "Nebraska",
   "abbreviation": "NE"
   }, {
   "name": "Nevada",
   "abbreviation": "NV"
   }, {
   "name": "New Hampshire",
   "abbreviation": "NH"
   }, {
   "name": "New Jersey",
   "abbreviation": "NJ"
   }, {
   "name": "New Mexico",
   "abbreviation": "NM"
   }, {
   "name": "New York",
   "abbreviation": "NY"
   }, {
   "name": "North Carolina",
   "abbreviation": "NC"
   }, {
   "name": "North Dakota",
   "abbreviation": "ND"
   }, {
   "name": "Northern Mariana Islands",
   "abbreviation": "MP"
   }, {
   "name": "Ohio",
   "abbreviation": "OH"
   }, {
   "name": "Oklahoma",
   "abbreviation": "OK"
   },
   {
   "name": "Oregon",
   "abbreviation": "OR"
   }, {
   "name": "Palau",
   "abbreviation": "PW"
   }, {
   "name": "Pennsylvania",
   "abbreviation": "PA"
   }, {
   "name": "Puerto Rico",
   "abbreviation": "PR"
   }, {
   "name": "Rhode Island",
   "abbreviation": "RI"
   }, {
   "name": "South Carolina",
   "abbreviation": "SC"
   }, {
   "name": "South Dakota",
   "abbreviation": "SD"
   }, {
   "name": "Tennessee",
   "abbreviation": "TN"
   }, {
   "name": "Texas",
   "abbreviation": "TX"
   }, {
   "name": "Utah",
   "abbreviation": "UT"
   }, {
   "name": "Vermont",
   "abbreviation": "VT"
   }, {
   "name": "Virgin Islands",
   "abbreviation": "VI"
   }, {
   "name": "Virginia",
   "abbreviation": "VA"
   }, {
   "name": "Washington",
   "abbreviation": "WA"
   }, {
   "name": "West Virginia",
   "abbreviation": "WV"
   }, {
   "name": "Wisconsin",
   "abbreviation": "WI"
   }, {
   "name": "Wyoming",
   "abbreviation": "WY"
   }]

.loading-form-cover
   .loading-form
form(data-toggle='validator', role='form')
   .loading-submit-form-cover
   button#testValidation(type='button', style='position: absolute; right: 0; top: 0; background: #00b9f1; color: #fff; border: 1px solid #2091b3;') Test Validation
   .step.first-step
      .step-header
         .step-number
            span 1
         .step-text
            .step-title
               span Guest Details
            .step-description
               span Please fill in the details of the person who is going to check in at the hotel.  (Must be over 21)
      .step-body
         .row
            .col-sm-6.form-group.has-feedback
               label.control-label(for='inputFirstName') First Name
                  span.danger *
               input#inputFirstName.form-control(name='First Name', type='text', required, data-error='This field is required')
               .help-block.with-errors
            .col-sm-6.form-group.has-feedback
               label.control-label(for='inputLastName') Last Name
                  span.danger *
               input#inputLastName.form-control(name='Last Name', type='text', required, data-error='This field is required')
               .help-block.with-errors
            .col-sm-6.form-group.has-feedback
               label.control-label(for='inputEmail') Email
                  span.danger *
               input#inputEmail.form-control(name='Email', type='email', required, data-error='This field is required')
               .help-block.with-errors
            .col-sm-6.form-group.has-feedback
               label.control-label(for='inputEmail') Confirm Email address
                  span.danger *
               input#inputEmailConfirm.form-control(, type='email', required, data-match='#inputEmail', data-error='This field is required', data-match-error="Email does not match")
               .help-block.with-errors
            .col-sm-6.form-group
               label.control-label(for='inputCountry') Country
                  span.danger *
               select#inputCountry.selectpicker.form-control.list-of-countries(name='Country')
                  - for ( var i = 0; i < countriesList.length; i++ ) {
                     - if ( i == 9 ) {
                        option(value=countriesList[i].name, selected='selected')=countriesList[i].name
                     - } else {
                        option(value=countriesList[i].name)=countriesList[i].name
                     - }
                  - }
               a.find-my-location(href='javascript:void(0)') Find my location
            .col-sm-6.form-group
               label.control-label(for='inputPhone') Phone
                  span.danger *
               .phone-number-block.clearfix
                  select#inputCodePhone.selectpicker.form-control.list-of-phones(name='Phone Code')
                     - for ( var i = 0; i < countriesList.length; i++ ) {
                        - if ( i == 9 ) {
                           option(value=countriesList[i].code, selected='selected')=countriesList[i].code
                        - } else {
                           option(value=countriesList[i].code)=countriesList[i].code
                        - }
                     - }
                  input#inputPhone.form-control(name='Phone Number', type='text', required, data-error='This field is required')
            .col-sm-6.form-group.states-usa.hidden
               label.control-label(for='inputPhone') State
                  span.danger *
               .states-block.clearfix
                  select#inputState.selectpicker.form-control.list-of-states(name='State')
                     - for ( var i = 0; i < statesList.length; i++ ) {
                        option(value=statesList[i].name)=statesList[i].name
                     - }
      .step-footer
         span (We won’t call you for marketing purposes)
   .step.second-step
      .step-header
         .step-number
            span 2
         .step-text
            .step-title
               span Payment Details
            .step-description
               span Please fill in the details of the owner of the credit card.
      .step-body
         ul.list-inline.payment-method
            li.active
               a(href='#credit-card', data-toggle='tab')
                  span.radio
                  span.text Credit Card
            li
               a(href='#other-payment', data-toggle='tab')
                  span.radio
                  span.text Paypal
         .tab-content.clearfix
            .tab-pane.credit-card-info.active
               .row
                  .col-sm-6.form-group.has-feedback
                     label.control-label(for='inputCardFirstName') First Name
                        span.danger *
                     input#inputCardFirstName.form-control(name='Card First Name', type='text', required, autocomplete='off', data-error='This field is required')
                     img(src='./images/icons/credit/first-name.png', alt='first name')
                     .help-block.with-errors
                  .col-sm-6.form-group.has-feedback
                     label.control-label(for='inputCardLastName') Last Name
                        span.danger *
                     input#inputCardLastName.form-control(name='Card Last Name', type='text', required, autocomplete='off', data-error='This field is required')
                     img(src='./images/icons/credit/last-name.png', alt='last name')
                     .help-block.with-errors
                  .col-sm-6.col-xs-12.form-group
                     label.control-label(for='inputCardPostal') Postal Code
                        span.danger *
                     input#inputCardPostal.form-control.pl-10(name='Card Postal', type='text', required, autocomplete='off', data-error='This field is required')
                  .col-sm-6.form-group.has-feedback.card-number-input
                     label.control-label(for='inputCardNumber') Card Number
                        span.danger *
                     input#inputCardNumber.form-control.card-input(name='Card Number', type='text', required, maxlength='19', autocomplete='off', data-error='This field is required', data-pattern-error='Your card number is invalid', pattern='^([0-9]{4}( |)){3}[0-4]{4}$')
                     img(src='./images/icons/credit/number1.png', alt='number')
                     .help-block.with-errors

                  .last-line-wrapper
                     .col-sm-6.form-group
                        label.control-label(for='inputCardExpDate') Expiration Date
                           span.danger *
                        .row
                           .col-sm-6.mb-xs-15
                              select#inputCardExpDate.selectpicker.form-control(name='Expiration Date Day')
                                 - for ( var i = 1; i < 32; i++ ) {
                                    - if ( i < 10 ) {
                                       option(value='0' + i)= '0' + i
                                    - } else {
                                       option(value=i)=i
                                    - }
                                 - }
                              img(src='./images/icons/credit/date-day.png', alt='expiration date day')
                           .col-sm-6
                              select#inputCardExpDateYear.selectpicker.form-control(name='Expiration Date Year')
                                 - for ( var i = 2010; i < 2031; i++ ) {
                                    - if ( i == 2018 ) {
                                       option(value=i, selected)=i
                                    - } else {
                                       option(value=i)=i
                                    - }
                                 - }
                              img(src='./images/icons/credit/date-year.png', alt='expiration date year')

                     .col-sm-6.form-group
                        label.control-label(for='inputCardCVC') CVC
                           span.danger *
                           span.small-desc  The 3 digits (back) or 4 digits (front) value on your card.
                        input#inputCardCVC.form-control(name='Card CVC', type='text', autocomplete='off', required, maxlength='3', data-error='This field is required')
                        img(src='./images/icons/credit/cvc.png', alt='cvc code')
                        .cvv-input
                           .numbers-block
                              .number
                                 a(href='javascript:void(0)') 0
                              .number
                                 a(href='javascript:void(0)') 1
                              .number
                                 a(href='javascript:void(0)') 2
                              .number
                                 a(href='javascript:void(0)') 3
                              .number
                                 a(href='javascript:void(0)') 4
                              .number
                                 a(href='javascript:void(0)') 5
                              .number
                                 a(href='javascript:void(0)') 6
                              .number
                                 a(href='javascript:void(0)') 7
                              .number
                                 a(href='javascript:void(0)') 8
                              .number
                                 a(href='javascript:void(0)') 9
                              .delete-button
                                 a(href='javascript:void(0)') Delete
                              .enter-button
                                 a(href='javascript:void(0)') Enter
                        .help-button
                           a(href='javascript:void(0)')
                              i.fa.fa-question-circle-o(aria-hidden='true')
                           .cvv-help
                              img(src='images/cvv_num_img.png', alt='cvv help')
                              span.text 3 digit security code

            //#other-payment.tab-pane.other-payment
            //   .row
            //      .col-sm-3
            //         a(href='javascript:void(0)')
            //            img(src='./images/payment-method/paypal.png', alt='paypal')
   .step.submit-step
      .wrapper
         .submit-wrapper
            .submit
               - if ( page.name === 'payment' ) {
                  input.visible-lg(type='submit', value='Book This Room For $2668.86')
                  input.hidden-lg(type='submit', value='Book For $2668.86')
               - } else {
                  input.visible-lg(type='submit', value='Book This Room For $2668.86')
                  input.hidden-lg(type='submit', value='Book For $2668.86')
               - }
            .guarantee
               img(src='images/icons/shopping-guarantee.png', alt='shopping guarantee')
      .alert
         p By Continuing With Your Booking, You Agree That You:
         p 1) Have Read And Accepted Our
            |
            |
            a(href='javascript:void(0)') Privacy Policy
            |  And
            |
            |
            a(href='javascript:void(0)') User Agreement.
         p 2) Are At Least 18 Years Old.
         p 3)
            |
            |
            a(href='javascript:void(0)') Cancellation policy
.step.info-step
   .step-header
      .step-number
         span 3
      .step-text
         .step-title
            span Important Information
   .step-body
      - if ( page.name === 'payment' ) {
         .popup.green.mt-30.mb-30.ml-xs-0.mr-xs-0
            .popup_title.mb-0.text-center-xs
               span.fs-xl.fs-xs-l Successful! Your order is complete!
            a.popup_close(href='javascript:void(0)')
               i.fa.fa-close
         .text
            p Cancellation Policy: Cancellations before
               span.before-date  Jun 29, 2017 12:00 PM
               |  (Local Time) are
               span.blue-text  FULLY REFUNDABLE.
               |  Bookings cancelled after
               span.before-date  Jun 29, 2017 12:00 PM
               |  (Local Time) are non-refundable and cannot be amended. There is no refund for no-shows or early checkouts.
            br
            p Once you completed filling in your payment information, you will get an email verifying  your transaction with the hotel information and your reservation information.
      - } else {
         .text
            p Cancelon does its best to protect its users. Cancelon mediates between Seller and Buyer to secure both sides. Once you completed your payment, we will take the following steps:
            br
            p 1. Cancelon will contact Seller to notify Seller about the transaction. Seller will have 24 hours to reply and accept your request. The reservation is non-refundable however, we will refund you in case Seller doesn’t accept the offer or if we don’t approve the reservation.
            p You can pay for the transaction both by a credit card and by PayPal.
            p The amount you will pay stays with Cancelon until a day after the check in day. This is to prevent Sellers from selling the reservation to more than one person.
            br
            p 2. Cancelon and Seller will contact the hotel to change the name on the reservation to your name. You will get a reservation confirmation email with your name.
            p Important Reminder – To make sure you receive our emails, please add support@cancelon.com to your contacts or safe sender list.
      - }